<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.liliyun.report.mapper.KpiHeadCoachStatMapper" >
  <resultMap id="AreaResultMap" type="cn.com.liliyun.report.model.KpiHeadCoachStatRecord" >
    
    <result column="areaid" property="areaid" jdbcType="INTEGER" />
    <result column="coachid" property="coachid" jdbcType="INTEGER" />
    <result column="subject" property="subjectid" jdbcType="INTEGER" />
    <result column="result" property="result" jdbcType="INTEGER" />
    <result column="count" property="count" jdbcType="INTEGER" />
    <result column="coachname" property="coachname" jdbcType="VARCHAR" />
  </resultMap>
  
  
  
  <select id="statByArea1" resultMap="AreaResultMap" parameterType="cn.com.liliyun.report.model.KpiHeadCoachStatParam">
    select d.headcoachid as coachid,d.name as coachname, a.areaid, b.subject,0 as result,count(b.result) as count from t_student a join  t_orderexam_item b on a.id=b.studentid join t_coach_student c on a.id=c.studentid join t_coach d on c.coachid=d.coachid 
    where subject in (1,3,5,7) and result=0
    <if test="begindate != null ">
		and examdate > #{begindate}
	</if>
	<if test="enddate != null ">
		<![CDATA[and examdate <= #{enddate}]]> 
	</if>
	<if test="subjectid != null ">
		and b.subject = #{subjectid}
	</if>
	<if test="areaid != null ">
		and a.areaid = #{areaid}
	</if>
	<if test="coachid != null ">
		and d.coachid = #{coachid}
	</if>
    group by d.headcoachid, a.areaid,b.subject
  </select>

  <select id="statByArea2" resultMap="AreaResultMap" parameterType="cn.com.liliyun.report.model.KpiHeadCoachStatParam">
    select d.headcoachid as coachid, a.areaid,b.subject,result, count(b.subject) as count from t_student a join  t_trainexam_item b on a.id=b.studentid join t_coach_student c on a.id=c.studentid join t_coach d on c.coachid=d.coachid 
    where subject in (1,3,5,7) 
    <if test="begindate != null ">
		and examdate > #{begindate}
	</if>
	<if test="enddate != null ">
		<![CDATA[and examdate <= #{enddate}]]> 
	</if>
	<if test="subjectid != null ">
		and b.subject = #{subjectid}
	</if>
	<if test="areaid != null ">
		and a.areaid = #{areaid}
	</if>
	<if test="coachid != null ">
		and d.coachid = #{coachid}
	</if>
    group by d.headcoachid,a.areaid,b.subject,b.result
  </select>
</mapper>