<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.liliyun.finance.mapper.FinancePosFlowMapper" >
  <resultMap id="BaseResultMap" type="cn.com.liliyun.finance.model.FinancePosFlow" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="areaid" property="areaid" jdbcType="INTEGER" />
    <result column="storeid" property="storeid" jdbcType="INTEGER" />
    <result column="poscompany" property="poscompany" jdbcType="VARCHAR" />
    <result column="tradedate" property="tradedate" jdbcType="TIMESTAMP" />
    <result column="tradenum" property="tradenum" jdbcType="VARCHAR" />
    <result column="posnum" property="posnum" jdbcType="VARCHAR" />
    <result column="trademoney" property="trademoney" jdbcType="DECIMAL" />
    <result column="settlemoney" property="settlemoney" jdbcType="DECIMAL" />
    <result column="poundage" property="poundage" jdbcType="DECIMAL" />
    <result column="bank" property="bank" jdbcType="VARCHAR" />
    <result column="ctime" property="ctime" jdbcType="TIMESTAMP" />
    <result column="cuid" property="cuid" jdbcType="INTEGER" />
    <result column="cname" property="cname" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, areaid, storeid, poscompany, tradedate, tradenum, posnum, trademoney, settlemoney, 
    poundage, bank, ctime, cuid, cname
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="cn.com.liliyun.finance.model.FinancePosFlow" >
    select 
    <include refid="Base_Column_List" />
    from t_finance_pos_flow
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="cn.com.liliyun.finance.model.FinancePosFlow" >
    delete from t_finance_pos_flow
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.com.liliyun.finance.model.FinancePosFlow" >
    insert into t_finance_pos_flow (id, areaid, storeid, 
      poscompany, tradedate, tradenum, 
      posnum, trademoney, settlemoney, 
      poundage, bank, ctime, 
      cuid, cname)
    values (#{id,jdbcType=INTEGER}, #{areaid,jdbcType=INTEGER}, #{storeid,jdbcType=INTEGER}, 
      #{poscompany,jdbcType=VARCHAR}, #{tradedate,jdbcType=TIMESTAMP}, #{tradenum,jdbcType=VARCHAR}, 
      #{posnum,jdbcType=VARCHAR}, #{trademoney,jdbcType=DECIMAL}, #{settlemoney,jdbcType=DECIMAL}, 
      #{poundage,jdbcType=DECIMAL}, #{bank,jdbcType=VARCHAR}, #{ctime,jdbcType=TIMESTAMP}, 
      #{cuid,jdbcType=INTEGER}, #{cname,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.com.liliyun.finance.model.FinancePosFlow" >
    insert into t_finance_pos_flow
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="areaid != null" >
        areaid,
      </if>
      <if test="storeid != null" >
        storeid,
      </if>
      <if test="poscompany != null" >
        poscompany,
      </if>
      <if test="tradedate != null" >
        tradedate,
      </if>
      <if test="tradenum != null" >
        tradenum,
      </if>
      <if test="posnum != null" >
        posnum,
      </if>
      <if test="trademoney != null" >
        trademoney,
      </if>
      <if test="settlemoney != null" >
        settlemoney,
      </if>
      <if test="poundage != null" >
        poundage,
      </if>
      <if test="bank != null" >
        bank,
      </if>
      <if test="ctime != null" >
        ctime,
      </if>
      <if test="cuid != null" >
        cuid,
      </if>
      <if test="cname != null" >
        cname,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="areaid != null" >
        #{areaid,jdbcType=INTEGER},
      </if>
      <if test="storeid != null" >
        #{storeid,jdbcType=INTEGER},
      </if>
      <if test="poscompany != null" >
        #{poscompany,jdbcType=VARCHAR},
      </if>
      <if test="tradedate != null" >
        #{tradedate,jdbcType=TIMESTAMP},
      </if>
      <if test="tradenum != null" >
        #{tradenum,jdbcType=VARCHAR},
      </if>
      <if test="posnum != null" >
        #{posnum,jdbcType=VARCHAR},
      </if>
      <if test="trademoney != null" >
        #{trademoney,jdbcType=DECIMAL},
      </if>
      <if test="settlemoney != null" >
        #{settlemoney,jdbcType=DECIMAL},
      </if>
      <if test="poundage != null" >
        #{poundage,jdbcType=DECIMAL},
      </if>
      <if test="bank != null" >
        #{bank,jdbcType=VARCHAR},
      </if>
      <if test="ctime != null" >
        #{ctime,jdbcType=TIMESTAMP},
      </if>
      <if test="cuid != null" >
        #{cuid,jdbcType=INTEGER},
      </if>
      <if test="cname != null" >
        #{cname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.liliyun.finance.model.FinancePosFlow" >
    update t_finance_pos_flow
    <set >
      <if test="areaid != null" >
        areaid = #{areaid,jdbcType=INTEGER},
      </if>
      <if test="storeid != null" >
        storeid = #{storeid,jdbcType=INTEGER},
      </if>
      <if test="poscompany != null" >
        poscompany = #{poscompany,jdbcType=VARCHAR},
      </if>
      <if test="tradedate != null" >
        tradedate = #{tradedate,jdbcType=TIMESTAMP},
      </if>
      <if test="tradenum != null" >
        tradenum = #{tradenum,jdbcType=VARCHAR},
      </if>
      <if test="posnum != null" >
        posnum = #{posnum,jdbcType=VARCHAR},
      </if>
      <if test="trademoney != null" >
        trademoney = #{trademoney,jdbcType=DECIMAL},
      </if>
      <if test="settlemoney != null" >
        settlemoney = #{settlemoney,jdbcType=DECIMAL},
      </if>
      <if test="poundage != null" >
        poundage = #{poundage,jdbcType=DECIMAL},
      </if>
      <if test="bank != null" >
        bank = #{bank,jdbcType=VARCHAR},
      </if>
      <if test="ctime != null" >
        ctime = #{ctime,jdbcType=TIMESTAMP},
      </if>
      <if test="cuid != null" >
        cuid = #{cuid,jdbcType=INTEGER},
      </if>
      <if test="cname != null" >
        cname = #{cname,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.com.liliyun.finance.model.FinancePosFlow" >
    update t_finance_pos_flow
    set areaid = #{areaid,jdbcType=INTEGER},
      storeid = #{storeid,jdbcType=INTEGER},
      poscompany = #{poscompany,jdbcType=VARCHAR},
      tradedate = #{tradedate,jdbcType=TIMESTAMP},
      tradenum = #{tradenum,jdbcType=VARCHAR},
      posnum = #{posnum,jdbcType=VARCHAR},
      trademoney = #{trademoney,jdbcType=DECIMAL},
      settlemoney = #{settlemoney,jdbcType=DECIMAL},
      poundage = #{poundage,jdbcType=DECIMAL},
      bank = #{bank,jdbcType=VARCHAR},
      ctime = #{ctime,jdbcType=TIMESTAMP},
      cuid = #{cuid,jdbcType=INTEGER},
      cname = #{cname,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectList" resultMap="BaseResultMap" parameterType="cn.com.liliyun.finance.model.FinancePosFlow" >
    select 
    <include refid="Base_Column_List" />
    from t_finance_pos_flow
    <where>
    	<if test="areaid != null">
    		and areaid = #{areaid,jdbcType=INTEGER}
    	</if>
    	<if test="storeid != null">
    		and storeid = #{storeid,jdbcType=INTEGER}
    	</if>
    	<if test="poscompany != null and poscompany != ''">
    		and poscompany = #{poscompany,jdbcType=VARCHAR}
    	</if>
    	<if test="posnum != null and posnum != ''">
    		and posnum = #{posnum,jdbcType=VARCHAR}
    	</if>
    	<if test="tradedatetop != null">
    		and #{tradedatetop,jdbcType=TIMESTAMP} >= tradedate
    	</if>
    	<if test="tradedatelow != null">
    		and tradedate >= #{tradedatelow,jdbcType=TIMESTAMP}
    	</if>
    </where>
  </select>
  <insert id="insertBatch" parameterType="java.util.List">
  	<foreach item="item" collection="list" separator=";">
  		insert into t_finance_pos_flow
	    <trim prefix="(" suffix=")" suffixOverrides="," >
	      <if test="item.id != null" >
	        id,
	      </if>
	      <if test="item.areaid != null" >
	        areaid,
	      </if>
	      <if test="item.storeid != null" >
	        storeid,
	      </if>
	      <if test="item.poscompany != null" >
	        poscompany,
	      </if>
	      <if test="item.tradedate != null" >
	        tradedate,
	      </if>
	      <if test="item.tradenum != null" >
	        tradenum,
	      </if>
	      <if test="item.posnum != null" >
	        posnum,
	      </if>
	      <if test="item.trademoney != null" >
	        trademoney,
	      </if>
	      <if test="item.settlemoney != null" >
	        settlemoney,
	      </if>
	      <if test="item.poundage != null" >
	        poundage,
	      </if>
	      <if test="item.bank != null" >
	        bank,
	      </if>
	      <if test="item.ctime != null" >
	        ctime,
	      </if>
	      <if test="item.cuid != null" >
	        cuid,
	      </if>
	      <if test="item.cname != null" >
	        cname,
	      </if>
	    </trim>
	    <trim prefix="values (" suffix=")" suffixOverrides="," >
	      <if test="item.id != null" >
	        #{item.id,jdbcType=INTEGER},
	      </if>
	      <if test="item.areaid != null" >
	        #{item.areaid,jdbcType=INTEGER},
	      </if>
	      <if test="item.storeid != null" >
	        #{item.storeid,jdbcType=INTEGER},
	      </if>
	      <if test="item.poscompany != null" >
	        #{item.poscompany,jdbcType=VARCHAR},
	      </if>
	      <if test="item.tradedate != null" >
	        #{item.tradedate,jdbcType=TIMESTAMP},
	      </if>
	      <if test="item.tradenum != null" >
	        #{item.tradenum,jdbcType=VARCHAR},
	      </if>
	      <if test="item.posnum != null" >
	        #{item.posnum,jdbcType=VARCHAR},
	      </if>
	      <if test="item.trademoney != null" >
	        #{item.trademoney,jdbcType=DECIMAL},
	      </if>
	      <if test="item.settlemoney != null" >
	        #{item.settlemoney,jdbcType=DECIMAL},
	      </if>
	      <if test="item.poundage != null" >
	        #{item.poundage,jdbcType=DECIMAL},
	      </if>
	      <if test="item.bank != null" >
	        #{item.bank,jdbcType=VARCHAR},
	      </if>
	      <if test="item.ctime != null" >
	        #{item.ctime,jdbcType=TIMESTAMP},
	      </if>
	      <if test="item.cuid != null" >
	        #{item.cuid,jdbcType=INTEGER},
	      </if>
	      <if test="item.cname != null" >
	        #{item.cname,jdbcType=VARCHAR},
	      </if>
	    </trim>
  	</foreach>
  </insert>
</mapper>