
/* ios下input 阴影清除 */
input {
  　-webkit-tap-highlight-color: transparent;
  　　-moz-tap-highlight-color: transparent;
  　　outline: 0; }

input[type="text"],
input[type="password"], input[type="submit"], button {
  -webkit-appearance: none; }

/*  ul li 图片宽度 处理  */
ui, li {
  list-style-type: none; }

ui, li.disc {
  list-style-type: disc; }

.img-auto {
  width: auto; }

.af {
  -webkit-transition: all 375ms;
  transition: all 375ms; }

.cc {
  cursor: pointer; }

.inline {
  display: inline; }

.absolute {
  position: absolute; }

.relative {
  position: relative; }

.fixed {
  position: fixed; }

.text-left {
  text-align: left !important; }

.text-right {
  text-align: right !important; }

.text-center {
  text-align: center !important; }

.center {
  margin: 0 auto; }

.blod {
  font-weight: bold; }

.fl {
  float: left; }

.fr {
  float: right; }

.blue {
  color: #047acd; }

.org {
  color: #ff3c00; }

.red {
  color: #d70000; }

.green {
  color: #64cc6b; }

.red.ud:hover {
  text-decoration: underline; }

.black {
  color: #000 !important; }

.white {
  color: #fff !important; }

.color_title {
  color: #5c5c5c !important; }

.color_active {
  color: #c98a39 !important; }

.color_menu {
  color: #F48D07 !important; }

.color_len {
  color: #c2c2c2 !important; }

.color_title2 {
  color: #424242 !important; }

.color_green {
  color: #6dd270; }

.bg_body {
  background: #EFEFEF !important; }

.bg_menu {
  background: #F48D07 !important; }

.color_a8a8a8 {
  color: #a8a8a8 !important;}

.border-r2 {
  border-radius: 2px; }

.border-r3 {
  border-radius: 3px; }

.border-r5 {
  border-radius: 5px; }

.border-r10 {
  border-radius: 10px; }

.border-r20 {
  border-radius: 20px; }

.bg-gray {
  background: #FAFAFA; }

.bg_fff {
  background: #fff; }

.h20 {	height:20px !important;}
.h25{	height:25px !important;}
.h30{	height:30px !important;}
.h35{	height:35px !important;}
.h40{	height:40px !important;}
.h45{	height:45px !important;}
.h50{	height:50px !important;}
.h60{	height:60px !important;}
.mh200{	min-height:200px !important;}
.h90 {	height: 90px !important;}
.h100 {	height: 100px !important;}
.h110 {	height: 110px !important;}
.lh18{	line-height:18px !important;}
.lh20{	line-height:20px !important;}
.lh25{	line-height:25px !important;}
.lh30{	line-height:30px !important;}
.lh35{	line-height:35px !important;}
.lh40{	line-height:40px !important;}
.lh45{	line-height:45px !important;}
.lh50{	line-height:50px !important;}
.lh60{	line-height:60px !important;}
.lh70{	line-height:70px !important;}
.mh200{	min-height:200px !important;}
.w20{	width:20px !important;}
.w25{	width:25px !important;}
.w30{	width:30px !important;}
.w40{	width:40px !important;}
.w50{	width:50px !important;}
.w60{	width:60px !important;}
.w70{	width:70px !important;}
.w80{	width:80px !important;}
.w90{	width:90px !important;}
.w100{	width:100px !important;}
.w120{	width:120px !important;}
.w140{	width:140px !important;}
.w160{	width:160px !important;}
.w170{	width:170px !important;}
.w180{	width:180px !important;}
.w190{	width:190px !important;}
.w200{	width:200px !important;}
.w250{	width:250px !important;}
.w300{	width:300px !important;}
.w350{	width:350px !important;}
.w380{	width:380px !important;}
.w400{	width:400px !important;}
.w450{	width: 450px !important;}
.w480{	width: 480px !important;}
.w500{	width:500px !important;}
.w550{	width:550px !important;}
.w600 {	width: 600px !important;}
.w700 {	width: 700px !important;}
.w800 {	width: 800px !important;}
.w900 {	width: 900px !important;}
.w1000 {width: 1000px !important;}
.w1200 {width: 1200px !important;}

.w-100{width: 100%;}
.w-90{width: 90%;}
.w-80{width: 80%;}
.w-70{width: 70%;}
.w-60{width: 60%;}
.w-50{width: 50%;}
.w-45{width: 45%;}
.w-40{width: 40%;}
.w-30{width: 30%;}
.w-20{width: 20%;}
.w-10{width: 10%;}
.h-100{height: 100%;}

.f8{font-size: 8px !important;}
.f10{font-size: 10px !important;}
.f11{font-size: 11px !important;}
.f12{font-size: 12px !important;}
.f13{font-size: 13px !important;}
.f14{font-size: 14px !important;}
.f16{font-size: 16px !important;}
.f18{font-size: 18px !important;}
.f20{font-size: 20px !important;}
.f23{font-size: 23px !important;}
.f22{font-size: 22px !important;}
.f24{font-size: 24px !important;}
.f26{font-size: 26px !important;}
.f28{font-size: 28px !important;}
.f30{font-size: 30px !important;}
.f32{font-size: 32px !important;}
.f34{font-size: 34px !important;}
.f36{font-size: 36px !important;}
.f40{font-size: 40px !important;}

.ti1{text-indent:1em;}
.ti2{text-indent:2em;}
.ti3{text-indent:3em;}
.ti4{text-indent:4em;}
.ti5{text-indent:5em;}


.ph10{	padding:0 10px !important;}
.p0{padding:0 !important;}
.p5{padding:5px !important;}
.p10 {	padding:10px !important;}
.p15 {	padding: 15px !important;}
.p20 {	padding:20px !important;}
.p30{	padding:30px !important;}
.p40{	padding:40px !important;}
.pl0 {	padding-left:0 !important}
.pl4 {	padding-left:4px !important;}
.pl5 {	padding-left:5px !important;}
.pl10 {	padding-left:10px !important;}
.pl15 {	padding-left:15px !important;}
.pl20 {	padding-left:20px !important;}
.pl30 {	padding-left:30px !important;}
.pl40 {	padding-left:40px !important;}
.pl50 {	padding-left:50px !important;}
.pt0 {	padding-top:0px !important;}
.pt5 {	padding-top:5px !important;}
.pt10 {	padding-top:10px !important;}
.pt15 {	padding-top:15px !important;}
.pt20 {	padding-top:20px !important;}
.pt25 {	padding-top:25px !important;}
.pt30 {	padding-top:30px !important;}
.pt40 {	padding-top:40px !important;}
.pb5 {	padding-bottom:5px !important;}
.pb10 {	padding-bottom:10px !important;}
.pb15 {	padding-bottom: 15px !important;}
.pb20 {	padding-bottom:20px !important;}
.pb30 {	padding-bottom:30px !important;}
.pb40 {	padding-bottom:40px !important;}
.pr4 {	padding-right:4px !important;}
.pr0 {	padding-right:0px !important;}
.pr5 {	padding-right:5px !important;}
.pr10 {	padding-right:10px !important;}
.pr15 {	padding-right:15px !important;}
.pr20 {	padding-right:20px !important;}
.pr30 {	padding-right:30px !important;}
.pr40 {	padding-right:40px !important;}
.pr50 {	padding-right:50px !important;}
.m0 {margin: 0 !important;}
.m15 {margin: 15px !important;}
.m20 {	margin: 20px !important;}
.mtb13 {margin: 13px 0 !important;}
.ml5 {	margin-left:5px !important;}
.ml10 {	margin-left:10px !important;}
.ml15 {	margin-left: 15px !important;}
.ml20 {	margin-left:20px !important;}
.ml30 {	margin-left:30px !important;}
.ml40 {	margin-left:40px !important;}
.ml50 {	margin-left:50px !important;}
.mr1 {	margin-right:1px !important;}
.mr5 {	margin-right:5px !important;}
.mr10 {	margin-right:10px}
.mr15 {	margin-right: 15px !important;}
.mr20 {	margin-right:20px !important;}
.mr30 {	margin-right:30px !important;}
.mr40 {	margin-right:40px !important;}
.mr50 {	margin-right:50px !important;}
.mt-5 {	margin-top:-5px !important;}
.mt0 {	margin-top:0px !important;}
.mt1 {	margin-top:1px !important;}
.mt2 {	margin-top:2px !important;}
.mt5 {	margin-top:5px !important;}
.mt7 {	margin-top:7px !important;}
.mt8 {	margin-top:8px !important;}
.mt10 {	margin-top:10px !important;}
.mt12 {	margin-top:12px !important;}
.mt15 {	margin-top:15px !important;}
.mt20 {	margin-top:20px !important;}
.mt25 {	margin-top: 25px !important;}
.mt30 {	margin-top:30px !important;}
.mt35 {	margin-top:35px !important;}
.mt40 {	margin-top:40px !important;}
.mt50 {	margin-top:50px !important;}
.mt70 {	margin-top:70px !important;}
.mb0 {	margin-bottom:0px !important;}
.mb5 {	margin-bottom:5px !important;}
.mb10 {	margin-bottom:10px !important;}
.mb15 {	margin-bottom: 15px !important;}
.mb20 {	margin-bottom:20px !important;}
.mb25 {	margin-bottom:25px !important;}
.mb30 {	margin-bottom:30px !important;}
.mb40 {	margin-bottom:40px !important;}
.mb50 {	margin-bottom:50px !important;}
.hide {
  display: none; }

.hide.selected {
  display: block; }
.vhide{
	/*visibility: hidden;*/
}

.block {
  display: block; }

.iblock {
  display: inline-block; }

.noBold {
  font-weight: normal; }

.bold {
  font-weight: bold; }

.italic {
  font-style: italic; }

.ofHidden {
  overflow: hidden !important; }

.ofAuto {
  overflow: auto !important; }

.fc-ececec {
  color: #ECECEC; }

.fc-red {
  color: red; }

.clear_border {
  border: 0 !important; }

.border_all {
  border: 1px solid #E7E7E7; }

.border_bottom {
  border-bottom: 1px solid #E7E7E7; }

.border_top {
  border-top: 1px solid #E7E7E7; }

.border_left {
  border-left: 1px solid #E7E7E7; }

.border_right {
  border-right: 1px solid #E7E7E7; }

.part-ul li {
  float: left;
  margin-right: 10px;
  list-style-type: none; }

.partshow {
  border: 1px solid #363636; }

.partshow .partshow-r {
  background: #fff;
  padding: 20px; }

.move-top-5 {
  -webkit-transform: translate(0%, -5%);
  transform: translate(0%, -5%); }

.move-top-15 {
  -webkit-transform: translate(0%, -15%);
  transform: translate(0%, -15%); }

/*************** yama **************************/
.y-comment:after {
  content: "";
  display: table;
  clear: both; }

.y-cell {
  line-height: 4.4rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  width: 100%; }

.y-cell .cell__hd {
  width: 4rem;
  text-align: center; }

.y-cell .cell__hd img {
  display: inline-block; }

.y-cell .cell__bd {
  -webkit-box-flex: 1;
  -ms-flex: 1;
      flex: 1;
  font-size: 1.5rem;
  border-bottom: 1px solid #E7E7E7; }

.y-cell .cell__bd.first {
  margin-left: 1.5rem; }

.y-cell .cell__ft {
  text-align: right;
  font-size: 1.4rem;
  padding-right: 0.7rem;
  color: #C2C2C2;
  border-bottom: 1px solid #E7E7E7; }

.y-cell .cell__ft span {
  padding-left: 2rem;
  line-height: 1;
  font-size: 1.2rem;
  max-width: 20rem;
  display: inline-block;
  vertical-align: middle; }

.y-cell:last-child .cell__bd {
  border-bottom: 0; }

.y-cell:last-child .cell__ft {
  border-bottom: 0; }

/*选择器*/
.y-cell .cell__ft input[type='radio'] {
  display: none; }

.y-cell .cell__ft .chebox {
  display: inline-block;
  position: relative;
  height: 1.2rem;
  width: 1.2rem;
  border-radius: 50%;
  border: 0.1rem solid #E7E7E7; }

.y-cell .cell__ft input[type='radio']:checked + .chebox:after {
  content: '';
  display: block;
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
  background: #F48D07;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.y-cell .cell__select {
  direction: rtl;
  width: 18rem;
  height: 100%;
  text-align: right;
  font-size: 1.5rem;
  border: none;
  background: transparent;
  -webkit-appearance: none;
  /*for chrome*/
  padding-right: 1.5rem; }

.y-cell .cell__select.init {
  color: #a9a9a9 !important; }

.y-cell .cell__select-right {
  position: absolute;
  font-size: 1.4rem;
  color: #c2c2c2;
  top: 53%;
  right: 1rem;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.y-box-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.y-box-flex .box-1 {
  -webkit-box-flex: 1;
  -ms-flex: 1;
      flex: 1; }
/********************************************/

/* 选项卡  */
.c-tabs-header{
	width: 100%;
	background: #FFFFFF;
	background:#ffffff;
	border:1px solid #e9e9e9;
	line-height: 38px;
	margin-bottom: 20px;
	padding: 0 20px;
}
.c-tabs-header:after {
  content: "";
  display: table;
  clear: both; 
}
.c-tabs-header li{
	margin: 0px 20px;
	font-size: 14px;
	float: left;
	cursor: pointer;
	position: relative;
}
.c-tabs-header li.active:after,.c-tabs-header li:hover:after{
	content: '';
	height: 2px;
	background: #1d86d2;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}
.c-tabs-body{
	display: none;
}
.c-tabs-body:before {
  content: "";
  display: table;
  clear: both; 
}
.c-tabs-body.active{
	display: block;
}
/*****循环输出checkbox*******/
.c-output-checkbox{
	width: 100%;
	display: block;
}
.c-output-checkbox:after{
  content: "";
  display: table;
  clear: both; 
}
.c-output-checkbox li{
	width: 33.3333%;
	float: left;	
}
.c-output-checkbox.col-4 li{
	width: 25%;
	float: left;	
}
.c-bottom-button{
  text-align:center;
  padding: 10px 0
}
.c-bottom-button li{
  display: inline-block;
  margin:0 5px;
}

/*****button样式*******/
.c-button-blue{
	padding: 5px 10px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 3px;
	background-color: #4990E2;
	border-color: #4990E2;
	color: #FFFFFF;
	text-align: center;
	cursor: pointer;
}
.c-button-blue i{
	margin-right: 10px;
}

.clear-style,.clear-style:focus{
	border: 0 !important;
	background-color:transparent !important;
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
}
/*   transfer-student-add   */
.transfer-student-add{
    margin: 15px 0;

}
.transfer-student-add span{
    margin-right: 30px;
    font-size: 16px;
}

/* 树形结构 */
.checktree, .checktree *{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.checktree ul {
  margin-top: 5px;
  margin-bottom: 5px;
}

.checktree li {
  float: left;
  padding: 3px 0;
  width: 100%;
}

.checktree li label {
  vertical-align: middle;
  cursor: pointer;
  padding: 4px 0 2px 0;
  font-size: 12px;
  line-height: 15px;
  float: left;
}

.checktree li .arrow {
  width: 18px;
  height: 18px;
  margin: 0px 8px 0;
  cursor: pointer;
  float: left;
}

.checktree li .collapsed {
  background: url(../images/checktree/checktree-collapsed.jpg) no-repeat;
  background-size:100% 100% ;
}

.checktree li .expanded {
  background: url(../images/checktree/checktree-expanded.jpg) no-repeat;
  background-size:100% 100% ;
}

.checktree li .checkbox {
  width: 18px;
  height: 18px;
  cursor: pointer;
  float: left;
  background: url(../images/checktree/checktree-no.jpg) no-repeat;
  margin-right: 7px;
}

.checktree li .checked {
  background: url(../images/checktree/checktree-checked.jpg) no-repeat;
}

.checktree li .half_checked {
  background: url(../images/checktree/checktree-falf.jpg) no-repeat;
}

.checktree li li .arrow {
  margin-left: 24px;
}

.checktree li li li .arrow {
  margin-left: 48px;
}

.checktree li li li li .arrow {
  margin-left: 72px;
}

.checktree li li li li li .arrow {
  margin-left: 96px;
}

/*  重写样式 */
.bjui-pageHeader{position:relative; padding:0px;}
.bjui-pageHeader:before, .bjui-pageHeader:after{display:table; content:" ";}
.bjui-pageHeader:after{clear:both;}
.bjui-pageHeader label, .bjui-pageFooter label{margin-bottom:0;}
.row-input{
	position: relative;
}
.row-input>i{
	position: absolute;
	right: 3px;
	top: 0;
	line-height:24px;
	font-style:normal
}
.widget-box {
	background: none repeat scroll 0 0 #FFFFFF;
	border-left: 1px solid #e9e9e9;
	border-top: 1px solid #e9e9e9;
	border-right: 1px solid #e9e9e9;
	clear: both;
	margin-top: 16px;
	margin-bottom: 16px;
	position: relative;
}
.widget-box.widget-calendar, .widget-box.widget-chat {
	overflow:hidden !important;
}
.accordion .widget-box {
	margin-top: -2px;
	margin-bottom: 0;
	border-radius: 0;
}
.widget-box.widget-plain {
	background: transparent;
	border: none;
	margin-top: 0;
	margin-bottom: 0;
}
.widget-title, .modal-header, .table th, div.dataTables_wrapper .ui-widget-header {
	background:#f7f7f7;
	border-bottom: 1px solid #e9e9e9;
	height: 36px;  
}
.widget-title .nav-tabs {
	border-bottom: 0 none; 
}
.widget-title .nav-tabs li a {
	border-bottom: medium none !important;
	border-left: 1px solid #e9e9e9;
	border-radius: 0 0 0 0;
	border-right: 1px solid #DDDDDD;
	border-top: medium none;
	color: #999999;
	margin: 0;
	outline: medium none;
	padding: 9px 10px 8px;
	font-weight: bold; 
	text-shadow: 0 1px 0 #FFFFFF;
}
.widget-title .nav-tabs li:first-child a {
	border-left: medium none !important;
}
.widget-title .nav-tabs li a:hover {
	background-color: transparent !important;
	border-color: #D6D6D6;
	border-width: 0 1px;
	color: #2b2b2b;
}
.widget-title .nav-tabs li.active a {
	background-color: #F9F9F9 !important;
	color: #444444;
}
.widget-title span.icon {
	padding: 9px 10px 7px 11px;
	float: left; 
	/*border-right:1px solid #dadada;*/
}
.widget-title h5 {
	color: #666;
	float: left;
	font-size: 12px;
	font-weight: bold;
	padding: 12px;
	padding-left: 0;
	line-height: 12px;
	margin: 0;
}
.widget-title .buttons {
	float: right;
	margin: 8px 10px 0 0;
}
.widget-title .label {
	padding: 3px 5px 2px;
	float: right;
	margin: 9px 11px 0 0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.3) inset, 0 1px 0 #ffffff;
}
.widget-calendar .widget-title .label {
	margin-right: 190px;
}
.widget-content {
	padding:15px 15px 20px 15px;
	background: #FFFFFF;
	border-bottom: 1px solid #e9e9e9;
}
.widget-box.widget-plain .widget-content {
	padding: 12px 0 0;
}
.widget-box.collapsible .collapse.in .widget-content {
	border-bottom: 1px solid #CDCDCD;
}
.widget-box .text-center .btn-group .btn{
	margin: 0 10px !important
	}
	.widget-box .text-center .btn-group .btn{
	margin: 0 10px !important
	}
.widget-box .text-center 	.btn-group > .btn:last-child:not(:first-child){
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.widget-box .text-center  .btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.btn-group > .btn{
   margin-right: 2px;
}

.site-stats {
	margin: 0;
	padding: 0;
	text-align: center;
	list-style: none;
}

.site-stats li {
	cursor: pointer;
	display: inline-block;
	margin: 0 5px 10px;
	text-align: center;
	width: 18.5%;
	min-width: 160px;
	padding: 25px 0;
	color: #fff;
	position: relative;
}
.site-stats li:after {
	content: '';
}
.site-stats li i {
	font-size: 24px;
	width: 40%;
	float: left;
	line-height: 36px;
	border-right: 1px solid #FFFFFF;
	margin: 7px 0;
}

.site-stats li:hover {
	background: #2E363F;
}

.site-stats li i {
	vertical-align: baseline;
}

.site-stats li strong {
	font-weight: bold;
	font-size: 24px;
	width: 100%;
	margin-left: 0px;
	line-height: 30px;
	float: left;
}

.site-stats li small {
	margin-left: 0px;
	font-size: 12px;
	width: 100%;
	line-height: 20px;
	float: left;
}
/*背景色色系*/
.bg_lb{ background:#27a9e3;}
.bg_db{ background:#2295c9;}
.bg_lg{ background:#28b779;}
.bg_dg{ background:#28b779;}
.bg_ly{ background:#ffb848;}
.bg_dy{ background:#da9628;}
.bg_ls{ background:#2255a4;}
.bg_lo{ background:#da542e;}
.bg_lr{ background:#f74d4d;}
.bg_lv{ background:#603bbc;}
.bg_lh{ background:#b6b3b3;}

/*处理单选宽度*/
.clz-radio>label{
	min-width: 60px;
	margin-right: 10px;
}
.edit-img{
	content: "";
  display: table;
  clear: both; 
  margin-bottom: 10px;
}
.edit-img li{
	border: 1px solid #CCCCCC;
	padding: 5px;
	float: left;
	width: 200px;
	height: 200px;
	margin-right: 10px;
	position: relative;
}
.edit-img li span{
	display: block;
	text-align: center;
	position: absolute;
	top: 0;
	right: 0;
	width: 50px;
	line-height: 20px;
	color:#FFFFFF;
	background: red;
}
.edit-img li img{
	width: 100%;
	max-height: 100%;
}

/* 审批流程 */
/*common css*/
.ystep-container {
  font-family: "Helvetica Neue",Helvetica,"Hiragino Sans GB","Wenquanyi Micro Hei","Microsoft Yahei",Arial,sans-serif;
  display: inline-block;
  position: relative;
  color: #000;
}
.ystep-container ul {
  list-style: none;
}
.ystep-container ul,.ystep-container li,.ystep-container p {
  margin: 0;
  padding: 0;
}

/*size css*/

.ystep-lg {
	width: 100%;
  height: 300px;
  font-size: 18px;
}


/*large size css*/
.ystep-lg .ystep-container-steps {
  position: absolute;
  top: 2px;
  cursor: pointer;
  z-index: 10;
}
.ystep-lg li {
  float: left;
  width: 40px;
  margin-right: 60px;
  margin-bottom: 30px;
  height: 50px;
  font-size: 14px;
  position: relative;
  -webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	 white-space:nowrap;
}
.ystep-lg li>span{
  position: absolute;
  top: 10px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); 
  z-index: -1;
}
.ystep-lg li:last-child {
  margin-right: 0;
}
.ystep-lg li span:hover{
	text-decoration: inherit;
	color: #16669e;
}
.ystep-lg li div.hr:after{
  display: block;
  content: '';
  width: 100px;
  height: 10px;
  background: #60baff;
  position: absolute;
  left: 15px;
  z-index: -1;
  top: 28px;
}
.ystep-lg li:last-child div.hr:after {
  display: none;
}
.ystep-lg li>div.remove:after{
	content: '删除节点';
  display: block;
	position: absolute;
	bottom: -20px;
	left: 0;
	right: 0;
	text-align: left;
	font-size: 12px;
	color: red;
	line-height: 1;
	z-index: 10;
}
.ystep-lg .ystep-step-done {
  background-position: -278px -132px;
}
.ystep-lg .ystep-step-undone {
  background-position: -137px -131px;
}
.ystep-lg .ystep-step-active {
  background-position: -414px -131px;
}
.ystep-lg .ystep-progress {
  height: 10px;
  position: absolute;
  top: 30px;
  left: 15px;
  right: 50px;
  float: left;
  margin-right: 10px;
  overflow: hidden;
}
.ystep-lg .ystep-progress-bar {
  width: 100%;
  height: 20px;
  background: #e4e4e4;
  display: inline-block;
  float: left;
}
.ystep-lg .ystep-progress-highlight {
  height: 20px;
	display: block;
}


/*blue css*/
.ystep-blue .ystep-step-done {
  background-image: url("../images/pointes_blue.png");
  background-repeat: no-repeat;
}
.ystep-blue .ystep-step-undone {
  background-image: url("../images/pointes_blue.png");
  background-repeat: no-repeat;
  color: #9c9a9b;
}
.ystep-blue .ystep-step-active {
  background-image: url("../images/pointes_blue.png");
  background-repeat: no-repeat;
  color: #3276b1;
}
.ystep-blue .ystep-progress-highlight {
  background: #60baff;
}

/*popover css*/
.popover {
  font-family: "Helvetica Neue",Helvetica,"Hiragino Sans GB","Wenquanyi Micro Hei","Microsoft Yahei",Arial,sans-serif;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1010;
  display: none;
  max-width: 276px;
  padding: 1px;
  text-align: left;
  white-space: normal;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  background-clip: padding-box;
}

.popover.top {
  margin-top: -10px;
}

.popover.right {
  margin-left: 10px;
}

.popover.bottom {
  margin-top: 10px;
}

.popover.left {
  margin-left: -10px;
}

.popover-title {
  padding: 2px 10px;
  margin: 0;
  font-size: 12px;
  font-weight: bold;
  line-height: 18px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  border-radius: 5px 5px 0 0;
}

.popover-content {
  padding: 4px 10px;
  font-size: 12px;
}

.popover .arrow,
.popover .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.popover .arrow {
  border-width: 11px;
}

.popover .arrow:after {
  border-width: 10px;
  content: "";
}

.popover.top .arrow {
  bottom: -11px;
  left: 50%;
  margin-left: -11px;
  border-top-color: #999999;
  border-top-color: rgba(0, 0, 0, 0.25);
  border-bottom-width: 0;
}

.popover.top .arrow:after {
  bottom: 1px;
  margin-left: -10px;
  border-top-color: #ffffff;
  border-bottom-width: 0;
  content: " ";
}

.popover.right .arrow {
  top: 50%;
  left: -11px;
  margin-top: -11px;
  border-right-color: #999999;
  border-right-color: rgba(0, 0, 0, 0.25);
  border-left-width: 0;
}

.popover.right .arrow:after {
  bottom: -10px;
  left: 1px;
  border-right-color: #ffffff;
  border-left-width: 0;
  content: " ";
}

.popover.bottom .arrow {
  top: -11px;
  left: 50%;
  margin-left: -11px;
  border-bottom-color: #999999;
  border-bottom-color: rgba(0, 0, 0, 0.25);
  border-top-width: 0;
}

.popover.bottom .arrow:after {
  top: 1px;
  margin-left: -10px;
  border-bottom-color: #ffffff;
  border-top-width: 0;
  content: " ";
}

.popover.left .arrow {
  top: 50%;
  right: -11px;
  margin-top: -11px;
  border-left-color: #999999;
  border-left-color: rgba(0, 0, 0, 0.25);
  border-right-width: 0;
}

.popover.left .arrow:after {
  right: 1px;
  bottom: -10px;
  border-left-color: #ffffff;
  border-right-width: 0;
  content: " ";
}

/*头部用户信息*/
.headuser{
	position: absolute;
	top: 10px;
	right: 10px;
	width: 240px;
	z-index: 10;
}
.headuser>li{
	float: left;
	width: 20px;
	height: 20px;
	margin-right: 30px;
	color: #FFFFFF;
	font-size: 20px;
	cursor: pointer;
	position: relative;
	line-height: 20px;
	text-align: center;
	margin-top: 5px;
}

.headuser>li:last-child{
	margin-right: 0;
}

.nav-icon-num{
	background-color: #eb5945;
	color: #fff;
	display: inline-block;
	text-align: center;
	min-width: 10px;
	padding: 0 3px;
	font-size: 10px;
	line-height: normal;
	border-radius: 4px;
	vertical-align: top;
	position: absolute;
	left: 18px;
	top:0px;
	-moz-transform:scale(0.8,0.8) translate(-50%, -50%);
	-webkit-transform:scale(0.8,0.8) translate(-50%, -50%);
	-o-transform:scale(0.8,0.8) translate(-50%, -50%); 
  transform: scale(0.8,0.8) translate(-50%, -50%); 
}
.headuser>li>ul{
	position: absolute;
	text-align: left;
	top: 20px;
	right:  0;
	width: 200px;
	padding-top: 20px;
	padding-left: 0;
	border-bottom: 1px solid #ccc;
	border-bottom: 1px solid rgba(0, 0, 0, .15);
	border-radius: 4px;
	-webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, .175);
	box-shadow: 0 3px 6px rgba(0, 0, 0, .175);
	display: none;
}
.headuser>li>ul>a>li{
	width: 100%;
	background: #FFFFFF;
	line-height: 36px;
	height: 36px;
	padding: 0 10px;
	font-size: 12px;
	color: #333333;
}
.headuser>li:hover>ul{
	display: block;
}
.headuser>li>ul>a>li:hover{
	background: #e4eef6;
}
.headuser>li>ul>a{
	text-decoration: none;
	color: #333333;
}
.c-seach-menu{
	float: left;
	width: 140px;
	height: 30px;
	margin-right: 20px;
	position: relative;
}
.c-seach-menu input{
	height: 30px;
	width: 100%;
	padding-right: 30px;
	padding-left: 5px;
	color: #FFFFFF;
	background: rgba(255,255,255,0.1);
	border-color: rgba(255,255,255,0.1);
}

.c-seach-menu input::-webkit-input-placeholder { /* WebKit browsers */
color: #F2F5F7 !important;
}
.c-seach-menu input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
color: #F2F5F7 !important;
}
.c-seach-menu input::-moz-placeholder { /* Mozilla Firefox 19+ */
color: #F2F5F7 !important;
}
.c-seach-menu input:-ms-input-placeholder { /* Internet Explorer 10+ */
color: #F2F5F7 !important;
} 
.c-seach-menu i{
	position: absolute;
	top: 8px;
	right: 5px;
	z-index: 100;
	color: #F2F5F7;
}
.c-seach-menu .seach-box{
	position: fixed;
	top: 30px;
	width: 140px;
	max-height: 280px;
	display: none;
	background: #FFFFFF;
	border: 1px solid #999999;
	z-index: 200;
	overflow-y:scroll;
	overflow-x:hidden;
}
.c-seach-menu .seach-box li{
	line-height: 1.1;
	padding: 10px 5px;
	width: 100%;
}
.c-seach-menu .seach-box li:hover{
	background: #1f73b6 !important;
	color: #FFFFFF;
}
/*********************************重写bjui**********************************************/
/*重写bjui 一级菜单*/
  .bjui-header .navbar-collapse {
    right: 290px !important;
}

.bjui-header .navbar-toggle.position {
    right: 260px;
    height: 50px !important;
}
.datagrid-nodata{
	text-align: center;
}
.btn-blue {
    background:#0f9bdc;
}
.btn-red{
	background:#fa594f;
}
#bjui-navtab > .tabsPageHeader {
    border-color: transparent;
    background: #ffffff;
}
#bjui-navtab > .tabsPageHeader > .tabsPageHeaderContent > .nav {
    border-bottom-color: transparent;
}
#bjui-navtab > .tabsPageHeader > .tabsPageHeaderContent > .nav > li.active > a {
    color: #333333;
    background: none repeat scroll 0 0 #f0f0f0;
    border-color: transparent;
    border-bottom-color: transparent;
}
#bjui-navtab > .tabsPageHeader > .tabsPageHeaderContent > .nav > li > a {
    color: #333333;
    background-color: #ffffff;
    border-color: #ececec;
    border-bottom-color: transparent;
}
#bjui-navtab > .tabsPageHeader > .tabsPageHeaderContent > .nav > li{
    margin-left: -1px;
}
#bjui-navtab > .tabsPageHeader > .tabsPageHeaderContent > ul {
    height: 30px;
}
#bjui-navtab > .tabsPageHeader > .tabsPageHeaderContent {
    height: 30px;
}
#bjui-navtab {
    background: #f0f0f0;
}
.bjui-datagrid {
    border-color: #e9e9e9;
}
.bjui-datagrid .datagrid-title {
    background: #f7f7f7;
    border-bottom: 1px solid #e9e9e9;
}
.bjui-datagrid .datagrid-box-h {
    background:#e4e9ef;
    border-bottom: none;
}
.bjui-datagrid .datagrid-toolbar {
    min-height: 34px;
    border-bottom: 1px #e9e9e9 solid;
}
.table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
    border: 1px solid #e9e9e9;
}
.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th{
		border: none;
}
.bjui-datagrid .datagrid-box-b .table > tbody > tr > td {

    border-bottom: none;
    border-top: none;
}
.bjui-datagrid .table > tbody > tr:nth-of-type(even) {
    background-color: #f3f4f5;
}
.bjui-datagrid .datagrid-title:before {
    padding: 12px 4px 7px 6px;
    text-align: center;
    border-right: none;
}
#bjui-navbar {
    background-color: #313942;
}
#bjui-navbar .navbar-nav > li.active > a, #bjui-navbar .navbar-nav > li > a:hover, #bjui-navbar .navbar-nav > li > a:focus, #bjui-navbar .navbar-nav > li > a.active {
    background-color: #0e73bc;
}
.bjui-header .navbar-header .navbar-brand {
    background: #313942;
}
#bjui-sidenav {
    background-color: #313942;
}
#bjui-sidenav-box .nav > li.open > a, #bjui-sidenav-box > .nav > li > a:focus, #bjui-sidenav-box > .nav > li .nav > li > a:focus {
    background-color: #151c23;
}
 #bjui-sidenav-box > .nav > li > ul> li.active>a,  #bjui-sidenav-box > .nav > li .nav > li.active > ul> li>a {
    background-color: #1d86d2 !important;
}
#bjui-sidenav-box > .nav > li > ul> li> a:hover,#bjui-sidenav-box > .nav > li .nav > li > ul> li>a:hover{
	background-color: rgba(29,134,210,0.30) !important;
}
#bjui-sidenav-box > .nav > li > ul {
    background:#151c23;
    
}
#bjui-sidenav-box > .nav > li {
    border-top: none;
    border-bottom: 1px solid #22272d;
}
#bjui-sidenav-box > .nav > li> ul>li a>i {
    opacity: 0;
}
.bjui-datagrid .table > thead > tr > th.datagrid-child-td, .bjui-datagrid .table > thead > tr > th.datagrid-linenumber-td, .bjui-datagrid .table > tbody > tr > td.datagrid-child-td, .bjui-datagrid .table > tbody > tr > td.datagrid-linenumber-td {
     background-color: transparent; 
}
.bjui-datagrid .table {
    color: #666666;
}
.datagrid-label{
	font-weight: normal;
}
/***** 覆盖select 遮罩层 *******/
.select_disabled{
	position: relative;
}
.select_disabled:after{
	content: '';
	position: absolute;
	top: 0;
	bottom: -1px;
	left: 0;
	right: 15px;
	z-index: 2;
	cursor: not-allowed;
}
.select_disabled:after{
	content: '';
	position: absolute;
	top: 0;
	bottom: -1px;
	left: 0;
	right: 0;
	z-index: 2;
	cursor: not-allowed;
}
.bootstrap-select .dropdown-menu {
    max-height: 220px !important;
}
.bootstrap-select>.dropdown-menu{
   	max-height: 230px !important;
}
/******覆盖表格所有选中样式背景色******/
.bjui-datagrid  .table.notablebg  > tbody > tr:nth-of-type(even) {
    background-color: #FFFFFF ;
}
.bjui-datagrid  .table.notablebg  > tbody > tr{
    border-bottom: 1px solid #e9e9e9;
}
.bjui-datagrid .table.notablebg > tbody > tr.datagrid-selected-tr > td {
    background-color: #FFFFFF !important;
}
.bjui-datagrid .table > tbody > tr.datagrid-hover > td{background-color:#FFFFFF;}

.table > tbody > tr > td {
    padding: 0 5px !important;
}

.bjui-dialog > .dialogHeader {
     cursor:auto; 
}
/* 表格上的按钮隐藏 */
/*.bjui-datagrid .datagrid-toolbar .btn{
    visibility: hidden;
}*/