<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context-4.0.xsd
	http://www.springframework.org/schema/aop 
	http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
	http://code.alibabatech.com/schema/dubbo 
	http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
	
	<!--  <aop:aspectj-autoproxy proxy-target-class="true"/>-->
	<!-- 支持标注 -->
	<context:annotation-config />
	<!--  	
	<context:component-scan base-package="cn.com.liliyun.httpaccess.test">
		
	</context:component-scan>
	-->
	<!-- use-default-filters="true" 会扫描base-package所有包，无视里面的过滤规则 -->
	<context:component-scan base-package="cn.com.liliyun" use-default-filters="false">
		<!--  <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>-->
		<!--  <context:include-filter type="assignable" expression="cn.com.liliyun.httpaccess.test.TestController" />-->
		<context:include-filter type="regex" expression="cn\.com\.liliyun\.httpaccess\.test.*" />
		<context:include-filter type="assignable" expression="cn.com.liliyun.httpaccess.interceptor.DblinkInterceptor" />		
		<context:include-filter type="assignable" expression="cn.com.liliyun.httpaccess.interceptor.ControllerInterceptor" />
		<context:include-filter type="assignable" expression="cn.com.liliyun.common.util.ApplicationContextUtil" />
		<context:include-filter type="assignable" expression="cn.com.liliyun.httpaccess.util.TestServiceImpl" />
		<context:include-filter type="assignable" expression="cn.com.liliyun.httpaccess.util.TestService2Impl" />
		<context:include-filter type="assignable" expression="cn.com.liliyun.common.service.ServiceMediator" />
		<context:include-filter type="assignable" expression="cn.com.liliyun.common.interceptor.ServiceInterceptor" />
	</context:component-scan>
	
	<bean id="devProperties" class="cn.com.liliyun.httpaccess.util.DevProperties">
		<property name="dev" value="0" />
	</bean>
	
	<!--  <bean class="cn.com.liliyun.common.util.InstantiationTracingBeanPostProcessor"/>-->
	<bean class="cn.com.liliyun.common.trace.TraceBeanPostProcessor"/>
</beans>