<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.liliyun.user.mapper.TopContactsMapper" >
  <resultMap id="BaseResultMap" type="cn.com.liliyun.user.model.TopContacts" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="school_id" property="schoolId" jdbcType="INTEGER" />
    <result column="conts_staff_id" property="contsStaffId" jdbcType="BIGINT" />
    <result column="conts_school_id" property="contsSchoolId" jdbcType="INTEGER" />
    <result column="is_del" property="isDel" jdbcType="TINYINT" />
    <result column="ctime" property="ctime" jdbcType="TIMESTAMP" />
    <result column="mtime" property="mtime" jdbcType="TIMESTAMP" />
    <result column="ext" property="ext" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    id, user_id, school_id, conts_staff_id, conts_school_id, is_del, ctime, mtime, ext
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_u_top_contacts
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_u_top_contacts
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
  <insert id="insert" parameterType="cn.com.liliyun.user.model.TopContacts" >
    insert into t_u_top_contacts (id, user_id, school_id, 
      conts_staff_id, conts_school_id, is_del, 
      ctime, mtime, ext
      )
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=BIGINT}, #{schoolId,jdbcType=INTEGER}, 
      #{contsStaffId,jdbcType=BIGINT}, #{contsSchoolId,jdbcType=INTEGER}, #{isDel,jdbcType=TINYINT}, 
      #{ctime,jdbcType=TIMESTAMP}, #{mtime,jdbcType=TIMESTAMP}, #{ext,jdbcType=VARCHAR}
      )
  </insert>
  
  <insert id="insertSelective" parameterType="cn.com.liliyun.user.model.TopContacts" >
    insert into t_u_top_contacts
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="schoolId != null" >
        school_id,
      </if>
      <if test="contsStaffId != null" >
        conts_staff_id,
      </if>
      <if test="contsSchoolId != null" >
        conts_school_id,
      </if>
      <if test="isDel != null" >
        is_del,
      </if>
      <if test="ctime != null" >
        ctime,
      </if>
      <if test="mtime != null" >
        mtime,
      </if>
      <if test="ext != null" >
        ext,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="schoolId != null" >
        #{schoolId,jdbcType=INTEGER},
      </if>
      <if test="contsStaffId != null" >
        #{contsStaffId,jdbcType=BIGINT},
      </if>
      <if test="contsSchoolId != null" >
        #{contsSchoolId,jdbcType=INTEGER},
      </if>
      <if test="isDel != null" >
        #{isDel,jdbcType=TINYINT},
      </if>
      <if test="ctime != null" >
        #{ctime,jdbcType=TIMESTAMP},
      </if>
      <if test="mtime != null" >
        #{mtime,jdbcType=TIMESTAMP},
      </if>
      <if test="ext != null" >
        #{ext,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.liliyun.user.model.TopContacts" >
    update t_u_top_contacts
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="schoolId != null" >
        school_id = #{schoolId,jdbcType=INTEGER},
      </if>
      <if test="contsStaffId != null" >
        conts_staff_id = #{contsStaffId,jdbcType=BIGINT},
      </if>
      <if test="contsSchoolId != null" >
        conts_school_id = #{contsSchoolId,jdbcType=INTEGER},
      </if>
      <if test="isDel != null" >
        is_del = #{isDel,jdbcType=TINYINT},
      </if>
      <if test="ctime != null" >
        ctime = #{ctime,jdbcType=TIMESTAMP},
      </if>
      <if test="mtime != null" >
        mtime = #{mtime,jdbcType=TIMESTAMP},
      </if>
      <if test="ext != null" >
        ext = #{ext,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <update id="updateByPrimaryKey" parameterType="cn.com.liliyun.user.model.TopContacts" >
    update t_u_top_contacts
    set user_id = #{userId,jdbcType=BIGINT},
      school_id = #{schoolId,jdbcType=INTEGER},
      conts_staff_id = #{contsStaffId,jdbcType=BIGINT},
      conts_school_id = #{contsSchoolId,jdbcType=INTEGER},
      is_del = #{isDel,jdbcType=TINYINT},
      ctime = #{ctime,jdbcType=TIMESTAMP},
      mtime = #{mtime,jdbcType=TIMESTAMP},
      ext = #{ext,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  
  <resultMap id="TopBaseResultMap" type="cn.com.liliyun.staff.vo.StaffVo">
    <id column="id" property="id" jdbcType="INTEGER" />
    <id column="userId" property="userId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="VARCHAR" />
    <result column="idcard" property="idcard" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="employstatus" property="employstatus" jdbcType="INTEGER" />
    <result column="hiredate" property="hiredate" jdbcType="VARCHAR" />
    <result column="leavedate" property="leavedate" jdbcType="VARCHAR" />
    <result column="job" property="job" jdbcType="INTEGER" />
    <result column="jobName" property="jobName" jdbcType="VARCHAR" />
    <result column="detail" property="detail" jdbcType="VARCHAR" />
    <result column="photo" property="photo" jdbcType="VARCHAR" />
    <result column="schoolId" property="schoolId" jdbcType="INTEGER" />
    <result column="deptid" property="deptid" jdbcType="INTEGER" />
    <result column="deptName" property="deptName" jdbcType="VARCHAR" />
  </resultMap>
  
    <select id="selectTopContactsList" parameterType="cn.com.liliyun.user.model.TopContacts" resultMap="TopBaseResultMap">
		   SELECT
			s.id,
			s.NAME,
			s.sex,
			s.idcard,
			s.mobile,
			s.address,
			s.photo,
			s.employstatus,
			s.hiredate,
			s.leavedate,
			s.job,
			s.detail,
			s.photo,
			s.deptid,
		 	u.id AS userId,
			u.schoolid AS schoolId,
			( SELECT d.NAME FROM t_dept d WHERE d.id = s.deptid ) AS deptName
		FROM t_u_top_contacts t LEFT JOIN 
			t_staff s on t.conts_staff_id=s.id
		LEFT JOIN t_user u on s.id=u.staffid
			 where s.isdel=0 and t.user_id=#{userId,jdbcType=INTEGER}
	  </select>
	  
    <select id="selectTopContacts" parameterType="cn.com.liliyun.user.model.TopContacts" resultMap="TopBaseResultMap">
		   SELECT
				s.id,
				s.NAME,
				s.sex,
				s.idcard,
				s.mobile,
				s.address,
				s.photo,
				s.employstatus,
				s.hiredate,
				s.leavedate,
				s.job,
				s.detail,
				s.photo,
				s.deptid
		FROM t_u_top_contacts t LEFT JOIN 
			t_staff s on t.conts_staff_id=s.id
			 where s.isdel=0 and t.user_id=#{userId,jdbcType=INTEGER} and t.conts_staff_id=#{contsStaffId,jdbcType=INTEGER}
	  </select>
	  
	</mapper>