<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.liliyun.car.mapper.CarGPSMapper" >
  <resultMap id="BaseResultMap" type="cn.com.liliyun.car.model.CarGPS" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="devicecode" property="devicecode" jdbcType="VARCHAR" />
    <result column="devicenum" property="devicenum" jdbcType="VARCHAR" />
    <result column="carno" property="carno" jdbcType="VARCHAR" />
    <result column="simcard" property="simcard" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="areaid" property="areaid" jdbcType="INTEGER" />
    <result column="cuid" property="cuid" jdbcType="INTEGER" />
    <result column="muid" property="muid" jdbcType="INTEGER" />
    <result column="cname" property="cname" jdbcType="VARCHAR" />
    <result column="mname" property="mname" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, code, devicecode, devicenum, carno, simcard, remark, areaid, cuid, muid, cname, 
    mname
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_car_gps
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_car_gps
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.com.liliyun.car.model.CarGPS" >
    insert into t_car_gps (id, code, devicecode, 
      devicenum, carno, simcard, 
      remark, areaid, cuid, 
      muid, cname, mname)
    values (#{id,jdbcType=INTEGER}, #{code,jdbcType=VARCHAR}, #{devicecode,jdbcType=VARCHAR}, 
      #{devicenum,jdbcType=VARCHAR}, #{carno,jdbcType=VARCHAR}, #{simcard,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{areaid,jdbcType=INTEGER}, #{cuid,jdbcType=INTEGER}, 
      #{muid,jdbcType=INTEGER}, #{cname,jdbcType=VARCHAR}, #{mname,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.com.liliyun.car.model.CarGPS" >
    insert into t_car_gps
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="devicecode != null" >
        devicecode,
      </if>
      <if test="devicenum != null" >
        devicenum,
      </if>
      <if test="carno != null" >
        carno,
      </if>
      <if test="simcard != null" >
        simcard,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="areaid != null" >
        areaid,
      </if>
      <if test="cuid != null" >
        cuid,
      </if>
      <if test="muid != null" >
        muid,
      </if>
      <if test="cname != null" >
        cname,
      </if>
      <if test="mname != null" >
        mname,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="devicecode != null" >
        #{devicecode,jdbcType=VARCHAR},
      </if>
      <if test="devicenum != null" >
        #{devicenum,jdbcType=VARCHAR},
      </if>
      <if test="carno != null" >
        #{carno,jdbcType=VARCHAR},
      </if>
      <if test="simcard != null" >
        #{simcard,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="areaid != null" >
        #{areaid,jdbcType=INTEGER},
      </if>
      <if test="cuid != null" >
        #{cuid,jdbcType=INTEGER},
      </if>
      <if test="muid != null" >
        #{muid,jdbcType=INTEGER},
      </if>
      <if test="cname != null" >
        #{cname,jdbcType=VARCHAR},
      </if>
      <if test="mname != null" >
        #{mname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.liliyun.car.model.CarGPS" >
    update t_car_gps
    <set >
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="devicecode != null" >
        devicecode = #{devicecode,jdbcType=VARCHAR},
      </if>
      <if test="devicenum != null" >
        devicenum = #{devicenum,jdbcType=VARCHAR},
      </if>
      <if test="carno != null" >
        carno = #{carno,jdbcType=VARCHAR},
      </if>
      <if test="simcard != null" >
        simcard = #{simcard,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="areaid != null" >
        areaid = #{areaid,jdbcType=INTEGER},
      </if>
      <if test="cuid != null" >
        cuid = #{cuid,jdbcType=INTEGER},
      </if>
      <if test="muid != null" >
        muid = #{muid,jdbcType=INTEGER},
      </if>
      <if test="cname != null" >
        cname = #{cname,jdbcType=VARCHAR},
      </if>
      <if test="mname != null" >
        mname = #{mname,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.com.liliyun.car.model.CarGPS" >
    update t_car_gps
    set code = #{code,jdbcType=VARCHAR},
      devicecode = #{devicecode,jdbcType=VARCHAR},
      devicenum = #{devicenum,jdbcType=VARCHAR},
      carno = #{carno,jdbcType=VARCHAR},
      simcard = #{simcard,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      areaid = #{areaid,jdbcType=INTEGER},
      cuid = #{cuid,jdbcType=INTEGER},
      muid = #{muid,jdbcType=INTEGER},
      cname = #{cname,jdbcType=VARCHAR},
      mname = #{mname,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>