<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.liliyun.car.mapper.CarScrapMapper">
  <resultMap id="BaseResultMap" type="cn.com.liliyun.car.model.CarScrap">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="carid" jdbcType="INTEGER" property="carid" />
    <result column="carno" jdbcType="VARCHAR" property="carno" />
    <result column="delay" jdbcType="INTEGER" property="delay" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="delaydate" jdbcType="TIMESTAMP" property="delaydate" />
    <result column="oridelaydate" jdbcType="TIMESTAMP" property="oridelaydate" />
    <result column="acceptdate" jdbcType="TIMESTAMP" property="acceptdate" />
    <result column="retiredate" jdbcType="TIMESTAMP" property="retiredate" />
    <result column="ctime" jdbcType="TIMESTAMP" property="ctime" />
    <result column="cuid" jdbcType="INTEGER" property="cuid" />
    <result column="cname" jdbcType="VARCHAR" property="cname" />
  </resultMap>
  <sql id="Base_Column_List">
    id, carid, carno, delay, type, remark, delaydate, oridelaydate, acceptdate, retiredate, 
    ctime, cuid, cname
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_car_scrap
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectList" parameterType="cn.com.liliyun.car.model.CarScrap" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_car_scrap
  	<where>
  	 <if test="carid != null">
       and carid = #{carid,jdbcType=INTEGER}
     </if> 	
  	</where>
  	order by ctime desc
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_car_scrap
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.com.liliyun.car.model.CarScrap">
    insert into t_car_scrap (id, carid, carno, 
      delay, type, remark, 
      delaydate, oridelaydate, acceptdate, 
      retiredate, ctime, cuid, 
      cname)
    values (#{id,jdbcType=INTEGER}, #{carid,jdbcType=INTEGER}, #{carno,jdbcType=VARCHAR}, 
      #{delay,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, 
      #{delaydate,jdbcType=TIMESTAMP}, #{oridelaydate,jdbcType=TIMESTAMP}, #{acceptdate,jdbcType=TIMESTAMP}, 
      #{retiredate,jdbcType=TIMESTAMP}, #{ctime,jdbcType=TIMESTAMP}, #{cuid,jdbcType=INTEGER}, 
      #{cname,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.com.liliyun.car.model.CarScrap">
    insert into t_car_scrap
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="carid != null">
        carid,
      </if>
      <if test="carno != null">
        carno,
      </if>
      <if test="delay != null">
        delay,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="delaydate != null">
        delaydate,
      </if>
      <if test="oridelaydate != null">
        oridelaydate,
      </if>
      <if test="acceptdate != null">
        acceptdate,
      </if>
      <if test="retiredate != null">
        retiredate,
      </if>
      <if test="ctime != null">
        ctime,
      </if>
      <if test="cuid != null">
        cuid,
      </if>
      <if test="cname != null">
        cname,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="carid != null">
        #{carid,jdbcType=INTEGER},
      </if>
      <if test="carno != null">
        #{carno,jdbcType=VARCHAR},
      </if>
      <if test="delay != null">
        #{delay,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="delaydate != null">
        #{delaydate,jdbcType=TIMESTAMP},
      </if>
      <if test="oridelaydate != null">
        #{oridelaydate,jdbcType=TIMESTAMP},
      </if>
      <if test="acceptdate != null">
        #{acceptdate,jdbcType=TIMESTAMP},
      </if>
      <if test="retiredate != null">
        #{retiredate,jdbcType=TIMESTAMP},
      </if>
      <if test="ctime != null">
        #{ctime,jdbcType=TIMESTAMP},
      </if>
      <if test="cuid != null">
        #{cuid,jdbcType=INTEGER},
      </if>
      <if test="cname != null">
        #{cname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.liliyun.car.model.CarScrap">
    update t_car_scrap
    <set>
      <if test="carid != null">
        carid = #{carid,jdbcType=INTEGER},
      </if>
      <if test="carno != null">
        carno = #{carno,jdbcType=VARCHAR},
      </if>
      <if test="delay != null">
        delay = #{delay,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="delaydate != null">
        delaydate = #{delaydate,jdbcType=TIMESTAMP},
      </if>
      <if test="oridelaydate != null">
        oridelaydate = #{oridelaydate,jdbcType=TIMESTAMP},
      </if>
      <if test="acceptdate != null">
        acceptdate = #{acceptdate,jdbcType=TIMESTAMP},
      </if>
      <if test="retiredate != null">
        retiredate = #{retiredate,jdbcType=TIMESTAMP},
      </if>
      <if test="ctime != null">
        ctime = #{ctime,jdbcType=TIMESTAMP},
      </if>
      <if test="cuid != null">
        cuid = #{cuid,jdbcType=INTEGER},
      </if>
      <if test="cname != null">
        cname = #{cname,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.com.liliyun.car.model.CarScrap">
    update t_car_scrap
    set carid = #{carid,jdbcType=INTEGER},
      carno = #{carno,jdbcType=VARCHAR},
      delay = #{delay,jdbcType=INTEGER},
      type = #{type,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      delaydate = #{delaydate,jdbcType=TIMESTAMP},
      oridelaydate = #{oridelaydate,jdbcType=TIMESTAMP},
      acceptdate = #{acceptdate,jdbcType=TIMESTAMP},
      retiredate = #{retiredate,jdbcType=TIMESTAMP},
      ctime = #{ctime,jdbcType=TIMESTAMP},
      cuid = #{cuid,jdbcType=INTEGER},
      cname = #{cname,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>