
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.y-comment:after{
    content: "";
    display: table;
    clear: both;
}
ui,li{list-style-type: none;}
a.underline:hover{text-decoration:underline;}
a:link,a:visited,a:hover,a:active{
	text-decoration: none;
}
a{color: #999999;}
.img-auto{width: 100%;}
.am-list>li {
    border: 1px solid #CCCCCC;
}
.af{
    -webkit-transition: all 375ms;
	transition: all 375ms;
}
.cc{
	cursor:pointer;
}
.inline{
	display:inline;
}
.absolute{
	position:absolute;
}
.relative{
	position:relative;
}
.fixed {
	position: fixed;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.border-r2{
	border-radius: 2px;
}
.border-r5{
	border-radius: 5px;
}
.border-r20{
	border-radius: 20px;
}
.border-rc{
	border-radius: 50%;
}
.border-gray{
	border-bottom:1px solid #e7eaec;
}
.border-gray-ds{
	border-bottom:1px dashed #e7eaec;
}
.border-all{
	border:1px solid #CCCCCC;
}
.border-right{
	border-right:1px solid #CCCCCC;
}
.border-left{
	border-left:1px solid #CCCCCC;
}
.border-bottom{
	border-bottom:1px solid #CCCCCC;
}
.border-top{
	border-top:1px solid #CCCCCC;
}
.border-bottom2{
	border-bottom:1px solid #999;
}
.bg-gray{
	background:#FAFAFA;
}
.bg-white{
	background:#fff;
}
.h20 {	height:20px;}
.h25{	height:25px;}
.h30{	height:30px;}
.h35{	height:35px;}
.h40{	height:40px;}
.h45{	height:45px;}
.h50{	height:50px;}
.h60{	height:60px;}
.mh200{	min-height:200px;}
.h90 {	height: 90px;}
.h100 {	height: 100px;}
.h110 {	height: 110px;}
.lh18{	line-height:18px;}
.lh20{	line-height:20px;}
.lh25{	line-height:25px;}
.lh30{	line-height:30px;}
.lh35{	line-height:35px;}
.lh40{	line-height:40px;}
.lh45{	line-height:45px;}
.lh50{	line-height:50px;}
.lh60{	line-height:60px;}
.lh70{	line-height:70px;}
.mh200{	min-height:200px;}
.w20{	width:20px;}
.w25{	width:25px;}
.w30{	width:30px;}
.w40{	width:40px;}
.w50{	width:50px;}
.w60{	width:60px;}
.w70{	width:70px;}
.w80{	width:80px;}
.w90{	width:90px;}
.w100{	width:100px;}
.w120{	width:120px;}
.w140{	width:140px;}
.w160{	width:160px;}
.w170{	width:170px;}
.w180{	width:180px;}
.w190{	width:190px;}
.w200{	width:200px;}
.w250{	width:250px;}
.w300{	width:300px;}
.w350{	width:350px;}
.w380{	width:380px;}
.w400{	width:400px;}
.w450{	width: 450px;}
.w480{	width: 480px;}
.w500{	width:500px;}
.w550{	width:550px;}
.w560{	width:560px;}
.w600 {	width: 600px;}
.w700 {	width: 700px;}
.w800 {	width: 800px;}
.w900 {	width: 900px;}
.w1000 {width: 1000px;}
.w1200 {width: 1200px;}

.w-100{width: 100%;}
.w-90{width: 90%;}
.w-80{width: 80%;}
.w-70{width: 70%;}
.w-60{width: 60%;}
.w-50{width: 50%;}
.w-40{width: 40%;}
.w-30{width: 30%;}
.w-20{width: 20%;}
.w-10{width: 10%;}
.h-100{height: 100%;}

.f8{font-size: 8px;}
.f10{font-size: 10px;}
.f11{font-size: 11px;}
.f12{font-size: 12px;}
.f13{font-size: 13px;}
.f14{font-size: 14px;}
.f16{font-size: 16px;}
.f18{font-size: 18px;}
.f20{font-size: 20px;}
.f23{font-size: 23px;}
.f22{font-size: 22px;}
.f24{font-size: 24px;}
.f26{font-size: 26px;}
.f28{font-size: 28px;}
.f30{font-size: 30px;}
.f32{font-size: 32px;}
.f34{font-size: 34px;}
.f36{font-size: 36px;}

.ti1{text-indent:1em;}
.ti2{text-indent:2em;}
.ti3{text-indent:3em;}
.ti4{text-indent:4em;}
.ti5{text-indent:5em;}


.ph10{	padding:0 10px;}
.p0{padding:0 !important;}
.p5{padding:5px;}
.p10 {	padding:10px;}
.p15 {	padding: 15px;}
.p20 {	padding:20px;}
.p30{	padding:30px;}
.p40{	padding:40px;}
.pl0 {	padding-left:0 !important}
.pl4 {	padding-left:4px;}
.pl5 {	padding-left:5px;}
.pl10 {	padding-left:10px;}
.pl15 {	padding-left:15px;}
.pl20 {	padding-left:20px;}
.pl30 {	padding-left:30px;}
.pl40 {	padding-left:40px;}
.pl50 {	padding-left:50px;}
.pt5 {	padding-top:5px;}
.pt10 {	padding-top:10px;}
.pt15 {	padding-top:15px;}
.pt20 {	padding-top:20px;}
.pt25 {	padding-top:25px;}
.pt30 {	padding-top:30px;}
.pt40 {	padding-top:40px;}
.pb5 {	padding-bottom:5px;}
.pb10 {	padding-bottom:10px;}
.pb15 {	padding-bottom: 15px;}
.pb20 {	padding-bottom:20px;}
.pb30 {	padding-bottom:30px;}
.pb40 {	padding-bottom:40px;}
.pr4 {	padding-right:4px;}
.pr5 {	padding-right:5px;}
.pr10 {	padding-right:10px;}
.pr15 {	padding-right:15px;}
.pr20 {	padding-right:20px;}
.pr30 {	padding-right:30px;}
.pr40 {	padding-right:40px;}
.pr50 {	padding-right:50px;}
.m0 {margin: 0;}
.m15 {margin: 15px;}
.m20 {	margin: 20px;}
.mtb13 {margin: 13px 0;}
.ml5 {	margin-left:5px;}
.ml10 {	margin-left:10px;}
.ml15 {	margin-left: 15px;}
.ml20 {	margin-left:20px;}
.ml30 {	margin-left:30px;}
.ml40 {	margin-left:40px;}
.ml50 {	margin-left:50px;}
.mr1 {	margin-right:1px;}
.mr5 {	margin-right:5px;}
.mr10 {	margin-right:10px}
.mr15 {	margin-right: 15px;}
.mr20 {	margin-right:20px;}
.mr30 {	margin-right:30px;}
.mr40 {	margin-right:40px;}
.mr50 {	margin-right:50px;}
.mt-5 {	margin-top:-5px;}
.mt1 {	margin-top:1px;}
.mt5 {	margin-top:5px;}
.mt7 {	margin-top:7px;}
.mt8 {	margin-top:8px;}
.mt10 {	margin-top:10px;}
.mt12 {	margin-top:12px;}
.mt15 {	margin-top:15px;}
.mt20 {	margin-top:20px;}
.mt25 {	margin-top: 25px;}
.mt30 {	margin-top:30px;}
.mt40 {	margin-top:40px;}
.mt50 {	margin-top:50px;}
.mt60 {	margin-top:60px;}
.mt70 {	margin-top:70px;}
.mb0 {	margin-bottom:0px;}
.mb5 {	margin-bottom:5px;}
.mb10 {	margin-bottom:10px;}
.mb15 {	margin-bottom: 15px;}
.mb20 {	margin-bottom:20px;}
.mb30 {	margin-bottom:30px;}
.mb40 {	margin-bottom:40px;}
.mb50 {	margin-bottom:50px;}
.hide {	display:none;}
.hide.selected {display:block;}
.block {
	display:block;
}
.iblock{
	display:inline-block;
}
.noBold {
	font-weight:normal;
}
.bold {
	font-weight:bold;
}
.italic {
	font-style: italic;
}
.ofHidden {
	overflow:hidden;
}
.fc-ececec{
	color: #ECECEC;
}
.fl{float: left;}
.fr{float: right;}
.float_none{float: none;}
.fc-red{color: red;}
.clear{
	clear: both;
}
/*************** 透明度 ***************/
.opacity_0{filter: alpha(opacity=0);-moz-opacity: 0;-khtml-opacity: 0;opacity: 0;}
.opacity_5{filter: alpha(opacity=5);-moz-opacity: 0.05;-khtml-opacity: 0.05;opacity: 0.05;}
.opacity_10{filter: alpha(opacity=10);-moz-opacity: 0.1;-khtml-opacity: 0.1;opacity: 0.1;}
.opacity_25{filter: alpha(opacity=25);-moz-opacity: 0.25;-khtml-opacity: 0.25;opacity: 0.25;}
.opacity_30{filter: alpha(opacity=30);-moz-opacity: 0.3;-khtml-opacity: 0.3;opacity: 0.3;}
.opacity_40{filter: alpha(opacity=40);-moz-opacity: 0.4;-khtml-opacity: 0.4;opacity: 0.6;}
.opacity_65{filter: alpha(opacity=65);-moz-opacity: 0.65;-khtml-opacity: 0.65;opacity: 0.65;}
.opacity_80{filter: alpha(opacity=80);-moz-opacity: 0.8;-khtml-opacity: 0.8;opacity: 0.8;}
.opacity_100{filter: alpha(opacity=100);-moz-opacity: 1;-khtml-opacity: 1;opacity: 1;}
/*   ie8提示框     */
#ie7-warning{
   	background:#eb7e82;
   	position:absolute;
   	top:0;
   	left:0;
   	font-size:16px;
   	color:#333;
   	width:100%;
   	padding: 2px 15px 2px 23px;
   	text-align:left;
   	z-index: 999999;
   	line-height: 30px;
   	text-align: center;
}
#ie7-warning a {
       text-decoration:none;
}
.part-ul{
	
}
.part-ul li{
	float: left;
	margin-right:10px;
	list-style-type:none;
}
.partshow{
	border: 1px solid #363636;
}
.partshow .partshow-r{
	background: #fff;
	padding: 20px;
}
/* font color 文本颜色 */


.org{color:#ff3c00}
.red{color:#d70000;}
.green{color:#64cc6b}
.red.ud:hover{text-decoration:underline;}

.color_ff{color: #FFFFFF;}
.color_ff:hover{color:#FFFFFF;text-decoration:none;}
.color_ff:active{color: #FFFFFF;}
.color_ff:focus{color: #FFFFFF;text-decoration:none;}
.color_ff:visited{color: #FFFFFF;text-decoration:none;}

.color_ff3333{color: #ff3333;}
.color_ff3333:hover{color:#ff3333;text-decoration:none;}
.color_ff3333:active{color: #ff3333;}
.color_ff3333:focus{color: #ff3333;text-decoration:none;}
.color_ff3333:visited{color: #ff3333;text-decoration:none;}

.color_f1993b{color: #f1993b;}
.color_f1993b:hover{color:#f1993b;text-decoration:none;}
.color_f1993b:active{color: #f1993b;}
.color_f1993b:focus{color: #f1993b;text-decoration:none;}
.color_f1993b:visited{color: #f1993b;text-decoration:none;}

.color_666666{color: #666666;}
.color_666666:hover{color:#666666;text-decoration:none;}
.color_666666:active{color: #666666;}
.color_666666:focus{color: #666666;text-decoration:none;}
.color_666666:visited{color: #666666;text-decoration:none;}

.color_9ed7e4{color: #9ed7e4;}
.color_9ed7e4:hover{color:#9ed7e4;text-decoration:none;}
.color_9ed7e4:active{color: #9ed7e4;}
.color_9ed7e4:focus{color: #9ed7e4;text-decoration:none;}
.color_9ed7e4:visited{color: #9ed7e4;text-decoration:none;}

.color_3eb034{color: #3eb034;}
.color_3eb034:hover{color:#3eb034;text-decoration:none;}
.color_3eb034:active{color: #3eb034;}
.color_3eb034:focus{color: #3eb034;text-decoration:none;}
.color_3eb034:visited{color: #3eb034;text-decoration:none;}

.color_333{color: #333;}
.color_333:hover{color:#333;text-decoration:none;}
.color_333:active{color: #333;}
.color_333:focus{color: #333;text-decoration:none;}
.color_333:visited{color: #333;text-decoration:none;}

.color_bbbbbb{color: #bbbbbb;}
.color_bbbbbb:hover{color:#bbbbbb;text-decoration:none;}
.color_bbbbbb:active{color: #bbbbbb;}
.color_bbbbbb:focus{color: #bbbbbb;text-decoration:none;}
.color_bbbbbb:visited{color: #bbbbbb;text-decoration:none;}

.color_7aa7ff{color: #7aa7ff;}
.color_7aa7ff:hover{color:#7aa7ff;text-decoration:none;}
.color_7aa7ff:active{color: #7aa7ff;}
.color_7aa7ff:focus{color: #7aa7ff;text-decoration:none;}
.color_7aa7ff:visited{color: #7aa7ff;text-decoration:none;}

.color_66cc66{color: #66cc66;}
.color_66cc66:hover{color:#66cc66;text-decoration:none;}
.color_66cc66:active{color: #66cc66;}
.color_66cc66:focus{color: #66cc66;text-decoration:none;}
.color_66cc66:visited{color: #66cc66;text-decoration:none;}

.color_ff3366{color: #ff3366;}
.color_ff3366:hover{color:#ff3366;text-decoration:none;}
.color_ff3366:active{color: #ff3366;}
.color_ff3366:focus{color: #ff3366;text-decoration:none;}
.color_ff3366:visited{color: #ff3366;text-decoration:none;}

.color_ca0500{color: #ca0500;}
.color_ca0500:hover{color:#ca0500;text-decoration:none;}
.color_ca0500:active{color: #ca0500;}
.color_ca0500:focus{color: #ca0500;text-decoration:none;}
.color_ca0500:visited{color: #ca0500;text-decoration:none;}


.color_99{color: #999999;}
.color_99:hover{color:#999999;text-decoration:none;}
.color_99:active{color: #999999;}
.color_99:focus{color: #999999;text-decoration:none;}
.color_99:visited{color: #999999;text-decoration:none;}

.color_eb9a41{color: #eb9a41;}
.color_eb9a41:hover{color:#eb9a41;text-decoration:none;}
.color_eb9a41:active{color: #eb9a41;}
.color_eb9a41:focus{color: #eb9a41;text-decoration:none;}
.color_eb9a41:visited{color: #eb9a41;text-decoration:none;}

.color_cccccc{color: #cccccc;}
.color_cccccc:hover{color:#cccccc;text-decoration:none;}
.color_cccccc:active{color: #cccccc;}
.color_cccccc:focus{color: #cccccc;text-decoration:none;}
.color_cccccc:visited{color: #cccccc;text-decoration:none;}

.color_5c5c5c{color: #5c5c5c;}
.color_757575{color: #757575;}

/*边框 border*/
.clear_border{border: none !important;}
.clear_border_top{border-top: none !important;}
.clear_border_right{border-right: none !important;}
.clear_border_bottom{border-bottom: none !important;}
.clear_border_left{border-left: none !important;}

.border_8f8f8f{	border: 1px solid #8f8f8f;}
.border_top_8f8f8f{	border-top: 1px solid #8f8f8f;}
.border_bottom_8f8f8f{border-bottom: 1px solid #8f8f8f;}
.border_left_8f8f8f{border-left: 1px solid #8f8f8f;}
.border_right_8f8f8f{border-right: 1px solid #8f8f8f;}

.border_ff{	border: 1px solid #ffffff;}
.border_top_ff{	border-top: 1px solid #ffffff;}
.border_bottom_ff{border-bottom: 1px solid #ffffff;}
.border_left_ff{border-left: 1px solid #ffffff;}
.border_right_ff{border-right: 1px solid #ffffff;}

.border_626262{	border: 1px solid #626262;}
.border_top_626262{	border-top: 1px solid #626262;}
.border_bottom_626262{border-bottom: 1px solid #626262;}
.border_left_626262{border-left: 1px solid #626262;}
.border_right_626262{border-right: 1px solid #626262;}

.border_ff3366{	border: 1px solid #FF3366;}
.border_top_ff3366{	border-top: 1px solid #FF3366;}
.border_bottom_ff3366{border-bottom: 1px solid #FF3366;}
.border_left_ff3366{border-left: 1px solid #FF3366;}
.border_right_ff3366{border-right: 1px solid #FF3366;}

.border_999999{	border: 1px solid #999999;}
.border_top_999999{	border-top: 1px solid #999999;}
.border_bottom_999999{border-bottom: 1px solid #999999;}
.border_left_999999{border-left: 1px solid #999999;}
.border_right_999999{border-right: 1px solid #999999;}
/********* 背景色 ***********/
.bg_fafafa{background:#fafafa}
.bg_cccccc{background:#cccccc}
.bg_333333{background:#333333}
.bg_f6f6f6{background: #f6f6f6;}
.bg_ff3366{background: #ff3366;}
.bg_99{background: #999;}
.bg_white,.bg_ff{background: #ffffff;}
.bg_black,.bg_000{background: #000000;}
.bg_d8d8d8{background:#d8d8d8;}
.bg_eee{background:#eeeff4;}
.bg_ff6600{background: #ff6600}
.bg_232323{background: #232323}
.bg_a3a3a3 {background: #A3A3A3;}
.bg_f6548a{background: #f6548a;}
.bg_f196b5{background: #f196b5;}
.bg_ff_09{background: rgba(255,255,255,0.9);}


/*button*/
*[class^="button-"]{
	
}
.button-more{
	border:solid 1px #ff9900;
	color: #ff9900;	
}
.button-more:hover{
	border:solid 1px #ff9900;
	background: #ff9900;
	color: #fff;	
}
.button-core{
	border:solid 1px #FF3366;
	color: #FF3366;	
}
.button-core:hover{
	border:solid 1px #FF3366;
	background: #FF3366;
	color: #fff;	
}
.button-default{
	border:solid 1px #999;
	color: #999;	
}
.button-default:hover{
	border:solid 1px #999;
	background: #999;
	color: #fff;	
}
.button-white{
	border:solid 1px #fff;
	color: #fff;	
}

/* 喱喱云项目 */
#y-mask{
	position: fixed;
	z-index: 99;
	left: 0%;
	top: 0%;
	width: 100%;
	height: 100%;
	background: transparent;
}
.y-popbox{
	position: fixed;
	z-index: 100;
	left: 50%;
	top: 50%;
	background: #FFFFFF;
	display: none;
}
.y-popbox .title{
	font-size: 30px;
	padding: 40px 0;
	text-align: center;
	color: 5c5c5c;
}
.y-popbox .popbody{
	max-width: 360px;
	margin: 0 auto;
}
.index-banner{
	background: url(../../images/website/banner.png) no-repeat center;
	background-size: auto 100%;
	height: 800px;
}
.banner-comment{
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	margin-top: -128px;
	text-align: center;
}
.banner-comment .banner-p1{
	font-size:64px;
	color:#ffffff;
}
.banner-comment .banner-p2{
	font-size:36px;
	color:#a7e8ff;
}
.index-banner .btn-zhuce{
	margin: 40px auto 0;
	background:#35b9e9;
	border-radius:5px;
	width:300px;
	color: #ffffff;
	line-height:56px;
	font-size: 24px;
	text-align: center;
	display: block;
	transition: 0.3s;
}
.index-banner .btn-zhuce:hover{
	background:#09d;
}
@media (max-width: 991px) {
  .banner-comment .banner-p1{
		font-size:48px;
	}
	.banner-comment .banner-p2{
		font-size:32px;
	}
	
}
@media (max-width: 560px) {
  .banner-comment .banner-p1{
		font-size:32px;
	}
	.banner-comment .banner-p2{
		font-size:22px;
	}
	.index-banner .btn-zhuce{
		width:200px;
		line-height:40px;
		font-size: 18px;
	}
}
/* 首页下部文案样式复写  */
.block-text{
	max-width: 530px;
}
.logo-wrap span {
    color: #ffffff;
}
.index-menu{
	position: fixed;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	transition: 0.3s;
}
.index-menu:hover{
	background: rgba(0,0,0,0.6);
}
.index-menu .top-login{
	margin-top: 12px;
	border-radius:5px;
	padding: 3px 12px;
	text-align: center;
	color: #35b9e9;
	display: block;
	transition: 0.3s;
	background: #ffffff;
	border:2px solid #ffffff;
}
.index-menu .top-zhuce{
	margin-top: 12px;
	border:2px solid #ffffff;
	border-radius:5px;
	padding: 3px 12px;
	text-align: center;
	color: #ffffff;
	display: block;
	transition: 0.3s;
}
@media (max-width: 560px) {
  .index-menu .top-login{
  	width: 60px;
		line-height:30px;
		margin-top: 5px;
  }
  .index-menu .top-zhuce{
		line-height: 26px;
		width: 60px;
		margin-top: 5px;
	}
	.logo-wrap img {
		margin-right: 10px;
	}
}
/* 内容区重写 */
.nav-md .container.body .right_col {
    padding: 10px 20px 0;
    margin-left: 0;
    position: fixed;
    top: 61px;
    left: 230px;
    bottom: 49px;
    right: 0;
    overflow: auto;    
    z-index: 2;
}
footer{
	margin: 0;
	position: fixed;
	bottom: 0;
	right: 0;
	left: 230px;
}
#sidebar-menu{
	position: fixed;
	left: 0;
	top: 65px;
	bottom: 0;
	width: 230px;
	overflow: auto;
}
.liliversion{
	position: absolute;
	bottom: 10px;
	width: 100%;
}
@media (max-width: 991px) {
  .nav-md .container.body .right_col {
	    left: 0;   
	}
	footer{
		left: 0;
	}
}
/*  登录栏目提示信息 */
.alert-sm .item .alert{
	margin-left: 20px;
}

ul.navbar-right > li > a{ padding: 14px 15px 14px;}



.banner {
    width: 100%;
    height: 520px;
    overflow: hidden;
    position: relative;
}

.banner > ul {
    display: none;
    /*width: 999999999px;*/
    height: 520px;
    position: absolute;
    top:0;
    left: 0;
}

.banner > ul > li{
    float: left;
    height: 520px;
    position: relative;
    text-align: center;
    overflow: hidden;
}
.banner > ul > li img {
    height: 100%;
    width: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
  	-webkit-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%); 
}
.banner > ul > li>.content {
    position: absolute;
    width: 1000px;
    height: 300px;
    top: 50%;
    left: 50%;
    z-index: 2;
  	-webkit-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%); 
}
.banner > ul > li>.content {
    position: absolute;
    width: 1000px;
    height: 300px;
    top: 50%;
    left: 50%;
    z-index: 2;
  	-webkit-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%); 
}
.banner > ul > li>.content .maxwidth{
    max-width: 530px;
}
.banner > ul > li>.content .title{
	font-size:36px;
	color:#35b9e9;
	letter-spacing:-0.87px;
	text-align:left;
}
.banner > ul > li>.content .title-2{
font-size:20px;
color:#757575;
letter-spacing:-0.49px;
text-align:left;
}
.banner > ul > li>.content .text-1{
font-size:20px;
color:#666666;
letter-spacing:-0.49px;
text-align:left;
margin-top: 28px;
line-height: 23px;
}
.banner > ul > li>.content .text-2{
	margin-top: 20px
font-size:14px;
color:#4b4b4b;
letter-spacing:-0.34px;
text-align:left;
line-height: 20px;

}
.banner > ul > li>.content .text-3{
font-size:24px;
color:#d2d2d2;
letter-spacing:-0.58px;
text-align:left;
}
.banner > ul > li>.content .text-4{
line-height: 23px;
	
margin-top: 28px;
font-size:20px;
color:#CCCCCC;
letter-spacing:-0.49px;
text-align:left;
}
.banner > ul > li>.content .text-5{
	margin-top: 20px;
	font-size:14px;
	color:#DADADA;
	letter-spacing:-0.34px;
	text-align:left;
	line-height: 20px;
}
.banner > ul > li>.content .banner-btn{
	border:1px solid #35b9e9;
	border-radius:45px;
	width:118px;
	height:38px;
	font-size:18px;
	color:#35b9e9;
	letter-spacing:-0.44px;
	text-align:center;
	display: block;
	line-height: 36px;
	margin-top: 36px;
}
.banner > ul > li>.content .banner-btn:hover{
	background:#35b9e9;
	color: #FFFFFF;
}
.banner > ul > li > a {
    display: block;
    text-align: center;
}

/*.left-btn,.right-btn {
    width: 61px;
    height: 61px;
    position: absolute;
    top: 45%;
    right: 30px;
    background: url("../img/right-1.png");
    cursor: pointer;
}

.left-btn {
    left: 30px;
    background: url("../img/left-1.png");
}*/

.img-btn-list {
    width: 100%;
    position: absolute;
    bottom: 10px;
    left: 0;
    text-align: center;
    z-index: 10;
}

.img-btn-list > span  {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 12px;
    margin: 0 5px;
    background: rgba(255,255,255,0.3);
    cursor: pointer;
}

.img-btn-list > span.current {

    background: #37C5F7;
}
