<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.liliyun.market.mapper.CSEnrolIndexMapper" >
  <resultMap id="BaseResultMap" type="cn.com.liliyun.market.model.CSEnrolIndex" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="year" property="year" jdbcType="INTEGER" />
    <result column="month" property="month" jdbcType="INTEGER" />
    <result column="enrolindex" property="enrolindex" jdbcType="INTEGER" />
   
  </resultMap>
  
  
  
  <sql id="Base_Column_List" >
    id,year,month,enrolindex
  </sql>
  
  
  <select id="getCSEnrolIndex" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from t_cs_enrol_index
    where year = #{year} and month=#{month}
  </select>
  
  
  <select id="listCSEnrolIndex" resultMap="BaseResultMap"  >
    select 
    <include refid="Base_Column_List" />
    from t_cs_enrol_index
    where year=#{year}
	order by id desc
  </select>


  <insert id="addCSEnrolIndex" parameterType="cn.com.liliyun.market.model.CSEnrolIndex" >
    insert into t_cs_enrol_index (year, month,enrolindex,  createdate)
    values (#{year},#{month}, #{enrolindex},now())
  </insert>
  
  <update id="updateCSEnrolIndex" parameterType="cn.com.liliyun.market.model.CSEnrolIndex" >
    update t_cs_enrol_index
    <set >
      <if test="enrolindex != null" >
        enrolindex = #{enrolindex},
      </if>
      
    </set>
    where id = #{id}
  </update>
  
  
  
</mapper>