<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context-4.0.xsd
	http://www.springframework.org/schema/aop 
	http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
	http://www.springframework.org/schema/task 
	http://www.springframework.org/schema/task/spring-task-4.0.xsd">

	<!-- 支持标注 -->
	<context:annotation-config />
	<aop:aspectj-autoproxy/>
	<context:component-scan base-package="cn.com.liliyun">
		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller" />
	</context:component-scan>
	<!-- dao aop -->
	<bean id="daoInterceptor" class="cn.com.liliyun.common.interceptor.DaoInterceptor"></bean>
	<bean id="daoAspect" class="cn.com.liliyun.common.interceptor.DaoAspect"></bean>
	<aop:config>
		<!--  <aop:pointcut expression="execution(public * cn.com.liliyun.student.mapper.TheoryLessonMapper.selectByPrimaryKey(..))" id="testpointcut"/>-->
		<aop:pointcut expression="execution(public * cn.com.liliyun.*.mapper.*.*(..))" id="daopointcut"/>
		<!--  
		<aop:aspect id="testAspect" ref="daoAspect">
		<aop:before method="before"  pointcut-ref="testpointcut"/>
		</aop:aspect>
		-->
		<aop:advisor advice-ref="daoInterceptor" pointcut-ref="daopointcut"/>
	</aop:config>
	<!-- service method aop -->
	<bean class="cn.com.liliyun.common.util.TraceBeanPostProcessor"/>
</beans>